config.py
static/img/player/
__pycache__/
範例圖/
選秀順序.key
msedgedriver
.Rapp.history
static/img/
static/css/bootstrap/
static/js/bootstrap/
static/js/.Rhistory
static/js/socket.*
templates/bootstrap.html
node_modules/
package-lock.json
package.json
s.py
.vscode/
testResult/
*.csv
flask_docker.py
Dockerfile
requirements.txt
Airflow
test
CsvLibrary.py
*.robot