body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* header */
header {
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
}


.row {
    margin-top: calc(1 * 1.5rem);
    margin-bottom: calc(1 * 1.5rem);
}

.page {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* main */

/* search & filter */
.searchPlayer {
    position: relative;
    display: inline-block;
}

.label {
    display: block;
}

#search {
    padding-right: 20px;
}

.cancel {
    position: absolute;
    right: 75px;
    /* 調整按鈕位置 */
    top: 50%;
    transform: translateY(-15%);
    /* display: none; */
    cursor: pointer;
}

#filterContainer {
    display: flex;
}

.filter {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.filterButton {
    display: flex;
    align-items: end;
}

/* playersTable */
thead tr {
    background: #f6f9fc;
}

thead th {
    padding-left: 1rem;
}

.playersTable {
    font-size: 15px;
}

.span {
    width: 5%;
}

.rankings {
    text-align: right;
}

.type {
    width: 30%;
    text-align: center;
}

.lastHead {
    border: 1px solid #dddddd;
}

.playerType {
    width: 20%;
}

.roster {
    width: 15%;
    text-align: right;
}

.current {
    text-align: right;
    cursor: pointer;
}

th.stat {
    cursor: pointer
}

.stat {
    width: 7%;
    text-align: right;
}

.notsearched {
    display: none;
}

.notselected {
    display: none;
}

.playerInfo {
    content: attr(data-content);
    color: #000000;
}

.hide {
    display: none;
}