<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <script src={{url_for("static", filename="js/jQuery.js")}}></script>
    <script src={{url_for("static", filename="js/login.js")}}></script>
</head>

<body>
    <div>
        <form method="POST" action={{ url_for("login") }}>
            <p>
                <label for="account">帳號：</label>
                <input type="text" id="account" name="account">
            </p>
            <p>
                <label for="password">密碼：</label>
                <input type="password" id="password" name="password">
            </p>
            
            <input id="login" type="image" src={{ url_for("static", filename="img/login.png") }} alt="登入" width="150px" height="50px">
        </form>
    </div>

    <div>
        <p>
        <a href={{ url_for("register") }}>註冊帳號</a>
        </p>
    </div>

    <div>
        <p>
        <a href={{ url_for("forget") }}>忘記密碼</a>
        </p>
    </div>

</body>

</html>