<!DOCTYPE html>
<html>

<head>
    <title>{{ account }}</title>
    <link href="{{ url_for("static", filename="css/bootstrap/bootstrap.min.css") }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for("static", filename="img/logo/{}.png".format(account)) }}">
    <style>
        .page {
            flex: 1;
            display: flex;
            justify-content:center;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1 class="text-primary bg-warning">歡迎登入Fantasy Baseball
            <button id="time" @mouseover="updateTime" @mouseleave="clearTime">游標移動至此以顯示時間</button>
        </h1>
        <template v-if="showText">
            <h2 id="date">[[ currentTime ]]</h2>
        </template>
        <h3 class="text-primary">您的帳號是: {{ account }}, 您支持的球隊為:{{ team }}</h3>
    </div>

    <header class="container">
        <div class="row justify-content-between">
            <div class="page">
                <form action={{ url_for("myteam") }} method="POST">
                    <input type="hidden" name="account" value={{ account }}>
                    <input type="submit" class="btn btn-primary" value="My Team">
                </form>
            </div>
            <div class="page">
                <form action={{ url_for("matchup") }} method="POST">
                    <input type="hidden" name="account" value={{ account }}>
                    <input type="submit" class="btn btn-success" value="Matchup">
                </form>
            </div>
            <div class="page">
                <form action={{ url_for("draft") }} method="POST">
                    <input type="hidden" name="account" value={{ account }}>
                    <input type="submit" class="btn btn-dark" value="Draft">
                </form>
            </div>
            <div class="page">
                <form action={{ url_for("player") }} method="POST">
                    <input type="hidden" name="account" value={{ account }}>
                    <input type="submit" class="btn btn-danger" value="Player">
                </form>
            </div>
        </div>
    </header>
    <script src={{ url_for("static", filename="js/jQuery.js") }}></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src={{ url_for("static", filename="js/myleague.js") }}></script>
</body>

</html>